@import url(animations.css);

@font-face {
    font-family: 'CBlack';
    src: url("CBlack.otf") format("opentype");
}

@font-face {
    font-family: 'CLight';
    src: url("CLight.otf") format("opentype");
}

@font-face {
    font-family: 'CMedium';
    src: url("CMedium.otf") format("opentype");
}

@font-face {
    font-family: 'CBold';
    src: url("CBold.otf") format("opentype");
}

::-webkit-scrollbar {
    width: .8rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient( #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( #f7797d, #FBD786, #C6FFDD);
    border-radius: 5px;   
}

::selection {
    background-color: #C6FFDD;
    color: black;
    -webkit-text-fill-color:black;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'CBlack';
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1.5px;
    line-height: 50px;
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
}

button {
    padding: 5px 20px;
    color:whitesmoke;
    border-radius: 100px;
    text-align: center;
    border: 3px solid white;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background: transparent;
    transition: all 1s ease; 
    font-family: 'CBold';
    font-size: 25px;
    /* font-weight: 600; */
    text-align: center;
    /* letter-spacing: -.5px; */
    z-index: 4;
    display: flex;
    margin: auto;
}

button p {
    margin: 0;
}

span {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0.7em;
  left: 50%;
  width: 20em;
  height: 20em;
  margin-left: -10em;
  border-radius: 42.5%;
  transform-origin: 50% 50%;
  transition: all 1s ease, top 1.5s ease;
}

button:hover {
  transition: all 1s ease;
}

button:hover span {
  top: 0.2em;
  transition: all 1s ease, top 1.5s ease;
}

.heading {
    letter-spacing: -6px;
    line-height: normal;
    margin-top: 30px;
    /* margin-bottom: 15px; */
    text-align: center;
    background: -webkit-linear-gradient(#f7797d, #FBD786, #C6FFDD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-heading {
    margin: 0 auto;
    display: flex;
    /* background-image: linear-gradient( #f7797d, #FBD786, #C6FFDD);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%; */
    font-size: 41.5px;

}


i.fas.fa-headphones {
    margin-right: 20px;
    background: -webkit-linear-gradient(#f7797d, #FBD786, #C6FFDD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.your-tracks {
    width: 80%;
    margin: auto;
}

.sub-heading--1 {
    margin: 0px auto;
    width: 30vw;
    height: 5px;
    border: none;
    float: left;
    border-radius: 500%;
    background: -webkit-linear-gradient(290deg,#f7797d, #FBD786, #C6FFDD);
}

.card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    justify-content: space-around;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 15px 30px;
}

.card {
    padding: 5px;
    /* box-shadow: 0px 16px 48px 0px rgb(250 250 250 / 25%); */
    border-radius: 25px;
    width: 100%;
    min-width: 35vw;
    max-width: 35vw;
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}

.card-cover {
    background: rgb(29, 29, 29);
    padding: 20px 60px 35px 20px;
    border-radius: 25px;
}

.card-head {
    margin-top: 0;
    font-size: 40px;
    font-family: 'CBold';
    font-weight: 600;
}

.second {
    margin-left: 60px;
}



