@font-face {
    font-family: 'CBlack';
    src: url("CBlack.otf") format("opentype");
}

body {
    font-family: 'CBlack';
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 50px;
}
a {
    text-decoration: none;
}
.heading {
    letter-spacing: -6px;
    text-align: center;
}
.button {
    font-size: 30px;
    text-align: center;

}
