body{
    font-family: CBlack;
    src: url("C:\Users\PC\Circular\CBlack.otf") format("opentype");
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 50px;
    text-transform: none;
}